@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Semi+Condensed:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand-color: rgb(45, 55, 126);
}

html {
  font-size: 62.5%;
  /* font-size: 10px */
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

section {
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.marginLa {
  margin-bottom: 2rem;
}

.secondaryHeader {
  font-size: 4rem;
}

.description {
  font-size: 1.8rem;
  font-weight: 500;
}

.descriptionSM {
  font-size: 1.4rem;
  font-weight: 500;
}

.btn {
  background-color: #d93857;
  border: none;
  font-weight: 500;
  line-height: 1;
  font-size: 1.5rem;
  color: #fff;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--brand-color);
}

.btnSm {
  background-color: #d93857;
  border: none;
  font-weight: 500;
  line-height: 1;
  font-size: 1.3rem;
  color: #fff;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.btnSm:hover {
  background-color: var(--brand-color);
}

/* NavBar */

.nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: white;
}

.nav--logo--img {
  width: 14rem;
}

.nav--logo--tag {
  font-family: "Saira Semi Condensed";
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--brand-color);
}

.nav--logo {
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 1.4rem;
  margin-right: auto;
}

.nav--menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 10rem;
}

.nav--menu--link {
  margin-right: 3rem;
  position: relative;
  padding: 1rem;
}

.nav--menu--link:hover {
  border-bottom: 0.3rem solid red;
}

.nav--menu--link > a {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--brand-color);
}

.menuList--drop {
  display: none;
  position: absolute;
  left: 0;
  top: 4.5rem;
  background-color: #e2e2e2;
  width: 200rem;
  z-index: 4;
  /* transition: all 1s ease-in-out; */
}

.menuList--drop > li {
  list-style-type: none;
  padding: 1.5rem;
}

.menuList--drop > li:hover {
  background-color: red;
}

.menuList--drop > li:hover a {
  color: #fff;
}

.menuList--drop > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Roboto";
  color: var(--brand-color);
}

.drop--icon {
  vertical-align: top;
}

.burger--icon {
  display: none;
}

/* MainSection */

.articles {
  height: 120vh;
  width: 100%;
  margin: 20px auto;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: 8rem;
  border: none;
}

.prev {
  left: 4%;
}

.next {
  right: 4%;
}

.articles--container {
  width: 300%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  transition: transform 0.5s ease;
}

.articles--content {
  flex: 1 0 calc(100% / 3);
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles--link {
  width: 100%;
  height: 100%;
  position: relative;
}

.imglink::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.link1::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/heroImg1.png") center / cover no-repeat;
}

.link2::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/heroImg2.png") center / cover no-repeat;
}

.link3::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/heroImg3.png") center / cover no-repeat;
}

.centrebox {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.centrebox .btn {
  border-radius: 20rem;
}

/* Guiding Values */
.values {
  margin: 6rem auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card--container {
  margin: 2rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  margin: 1rem;
  padding: 4rem 2rem;
  color: #fff;
  border-radius: 2rem;
  transition: transform 1s ease-in-out;
}

.bluecard {
  background-color: steelblue;
}

.card p {
  text-align: center;
}

.card img {
  width: 25%;
  margin-bottom: 3rem;
}

.card1 {
  transform: translateX(-200%);
}

.card2 {
  transform: scale(0.5);
}

.card3 {
  transform: translateX(200%);
}

.start {
  transform: translateX(0) scale(1);
}

/* Missions */
.missions {
  margin: 1.5rem auto 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redcard {
  background-color: #d93857;
}

/* LatestArticlesCard */

.latestarticles {
  margin: 0 auto;
  background-color: #e0ebff;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.latestarticles .container {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* .latestarticles .container .secondaryHeader {
  margin-top: 4rem;
} */

.core-container {
  margin: 0 2rem;
  /* background-color: red; */
  /* width: 100%; */
  min-height: 60rem;
  display: flex;
  overflow: hidden;
}

.latestarticles--cardcontainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  /* overflow: hidden; */
}

.latestarticles--card {
  width: 33rem;
  min-height: 60rem;
  margin-top: 3rem;
  margin-right: 6rem;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #e6e6e6;
  border-radius: 2rem;
}

/* .latestarticles--card:not(:last-child) {
  margin-right: 3rem;
} */

.latestarticles--card img {
  width: 100%;
  height: 30rem;
  border-radius: 2rem 2rem 0 0;
  /* object-fit: contain; */
}

.latestarticles--card .descriptionSM {
  margin: 2rem 0 1rem;
}

.latestarticles--card .date {
  margin: 1rem 0 2rem;
}

.latestarticles--card .description {
  width: 80%;
  margin-bottom: auto;
}

.latestarticles--card button {
  margin: 2rem;
}

/* Facebook Feeds */

.fb {
  margin: 6rem auto;
}

.fbFeeds {
  max-width: 50rem;
  max-height: 70rem;
  margin: 2rem auto;
  overflow: hidden;
}

.fb .secondaryHeader {
  text-align: center;
  margin-bottom: 2rem;
}

/* Contacts */

.contacts {
  margin: 2rem auto 0;
  background-color: #f0f0f0;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contact {
  margin: 2rem 1rem;
  max-width: 40rem;
  height: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact .description,
.contact .descriptionSM {
  margin-bottom: 2rem;
}

.contact b {
  font-weight: 600;
}

.contact a {
  text-decoration: none;
}

.contact p {
  line-height: 1.7;
  text-align: center;
}

.contact i {
  font-size: 4rem;
  margin: 1rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-youtube {
  color: red;
}

.fa-linkedin {
  color: #0077b5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  background-color: #262c57;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Saira Semi Condensed";
  letter-spacing: 1.5px;
}

@media all and (max-width: 1090px) {
  .latestarticles--card {
    width: 30rem;
    margin-right: 3rem;
  }
}

@media all and (max-width: 1024px) {
  .latestarticles--card {
    width: 33rem;
    margin-right: 6rem;
  }
}

@media all and (max-width: 968px) {
  .navSection {
    position: relative;
    z-index: 5;
  }

  .nav {
    display: block;
  }

  .nav--logo {
    position: relative;
    z-index: 5;
  }

  .nav--logo--tag {
    margin-right: auto;
  }

  .burger--icon {
    display: block;
    font-size: 1.4rem;
    margin: 0 2rem 3rem 0;
    cursor: pointer;
  }

  .burger--icon > div {
    width: 1.5rem;
    height: 0.2rem;
    background-color: var(--brand-color);
    margin-top: 0.3rem;
    transition: transform 0.3s linear;
  }

  .burger--icon.active .line1 {
    transform: rotate(-405deg) translateY(7px);
  }

  .burger--icon.active .line2 {
    opacity: 0;
  }

  .burger--icon.active .line3 {
    transform: rotate(405deg) translateY(-7px);
  }

  .nav--menu {
    /* opacity: 0; */
    position: absolute;
    display: block;
    width: 100vw;
    background-color: #e2e2e2;
    transform: translateY(-100%);
    z-index: -1;
    transition: transform 0.6s ease-out 0.3s;
  }

  .nav--menu--link {
    position: static;
    padding: 0;
  }

  .a {
    display: block;
    padding: 1rem;
  }

  .nav--menu--link:hover .a {
    background-color: lightgreen;
    width: 100vw;
  }

  .menuList--drop {
    position: static;
    /* display: none; */
  }

  .nav--menu--link:hover {
    border: none;
  }
}

@media all and (max-width: 768px) {
  .secondaryHeader {
    font-size: 3rem;
  }

  .description {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
  }

  .articles .fas {
    font-size: 2rem;
  }

  .card--container {
    flex-direction: column;
  }

  .latestarticles--card {
    width: 100%;
    margin-right: 0;
  }

  .contacts {
    flex-direction: column;
  }
}

@media all and (max-width: 400px) {
  .nav--logo--tag {
    font-size: 1rem;
  }

  .nav--logo--img {
    width: 12rem;
  }
}

.show {
  transform: translateY(0);
  z-index: 4;
}

.block {
  display: block;
}

/* Prevent transition while resizing the page */

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
